<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container container">
        <nav class="header__navbar">
          <a class="navbar__logo nav__link logo" href="./index.html">MyBLOG</a>
          <ul class="navbar__nav nav list">
            <li class="list__item_selected">
              <a class="nav__link" href="./index.html">Главная</a>
            </li>
            <li class="list__item">
              <a class="nav__link" href="./gallery.html">Галлерея</a>
            </li>
            <li class="list__item">
              <a class="nav__link" href="./contact.html">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main" class="main container">
      <section class="note">
        <article class="note__container">
          <h1 class="note__title">Соловецкий монастырь, Архангельская область</h1>
          <div class="note__info">
            <img
              class="note__img"
              src="../assets/soloverski-monastyr-Arkhangelsk.JPG"
              alt=""
            />
            <p class="note__description">
              Монастырь стоит здесь, среди северных пейзажей Белого моря, с XV
              века, а история возведения Соловецкого кремля — загадка и по сей
              день. Вес некоторых валунов, из которых выложены стены, превышает
              8 тонн, а возраст растущего на них лишайника — 2000−3000 лет!
              Когда, кем и каким образом было начато строительство — не знают
              даже историки. Ещё под монастырём проходит полтора километра
              туннелей: монахи использовали их и в качестве канализации, и как
              чёрный ход. Соловецкий монастырь — настоящая крепость,
              неприступная и укреплённая. Во время Крымской войны английский
              флот пытался обстрелять обитель из пушек. Результатом девяти часов
              непрекращающегося огня стали лишь подбитая чайка и повреждённая
              икона.
            </p>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
