<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header class="header">
        <div class="header__container container">
          <nav class="header__navbar">
            <a class="navbar__logo nav__link logo" href="./index.html">MyBLOG</a>
            <ul class="navbar__nav nav list">
              <li class="list__item_selected">
                <a class="nav__link" href="./index.html">Главная</a>
              </li>
              <li class="list__item">
                <a class="nav__link" href="./gallery.html">Галерея</a>
              </li>
              <li class="list__item">
                <a class="nav__link" href="./contact.html">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

    <main id="main" class="main container">
        <section class="home">
            <div class="home__inner">
                <h1 class="home__title">
                    Добро пожаловать в мой личный блог, посвященный интереснейшим местам России
                </h1>
                <div class="home__description">
                    Россия — не просто щедрая душа, но ещё и тысячи мест, где можно этой самой душой отдохнуть. Долина гейзеров, Ленские столбы, Байкал, Казанский Кремль известны практически каждому, но есть в нашей стране сотни природных и архитектурных красот, которые не так часто попадают в туристические рейтинги, хотя заслуживают не меньшего внимания. Сегодня я расскажу о нескольких из них — вдохновляйтесь и пакуйте чемоданы!
                </div>
            </div>

        </section>
    </main>
    <footer class="footer"></footer>
</body>
</html>